html {
    background-color: #FFFFFF;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: #448fb6;
    padding: 0px 0px;
}
a {
    color: white;
    text-decoration: none;
     
}
.menu {   
    list-style-type: none;
    padding: 20px 0px;
}

.logo {
    padding: 0px 0px;
    
}


.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.divbar {
    padding: 35px 0px;
    white-space: pre;
    text-align: center;
    background-color: #3c5a69;
    color: white;
    font-size: 26px;
}

/* Mobile menu */


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 30px;
    
}

.toggle {
    order: 1;
    font-size: 70px;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
     
}
.active .item {
    display: block;
    background-color: green;
}



/* Tablet menu */
@media all and (min-width: 768px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    
    .toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }
}

/* Desktop menu */
@media all and (min-width: 1200px) {
    .menu {
        align-items: center;     
        flex-wrap: nowrap;
 
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
        font-size: 26px;
    }
         
    .toggle {
        display: none;
    }
    
}